In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('gold-dataset-sinha-khandait.csv', encoding= 'unicode_escape')

In [38]:
col_drop = ['URL', 'Price Direction Up', 'Price Direction Constant', 'Price Direction Down', 'Asset Comparision',
           'Past Information', 'Future Information']
df.drop(col_drop, inplace=True, axis=1)

In [39]:
df.drop(['ï»¿Dates'], inplace=True, axis=1)

In [44]:
df = df[df != df['Price Sentiment'] == 'none']

/var/folders/f9/jtg91wk95xx46h0z8h79_6tm0000gn/T/ipykernel_36925/581985798.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  df = df[df != df['Price Sentiment'] == 'none']

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [45]:
df["sentiment"] = ""
df.to_csv('covid-19_vaccine_tweets_with_sentiment.csv', index=False)

In [46]:
df

,News,Price Sentiment,sentiment
0,"april gold down 20 cents to settle at $1,116.1...",negative,
1,gold suffers third straight daily decline,negative,
2,Gold futures edge up after two-session decline,positive,
3,dent research : is gold's day in the sun comin...,none,
4,"Gold snaps three-day rally as Trump, lawmakers...",negative,
...,...,...,...
11407,gold seen falling from 3-week high this week,negative,
11408,dominic frisby : now looks like a good time to...,none,
11409,Gold heading for worst week since November on ...,negative,
11410,august gold up $7.60 at $878.80 an ounce on nymex,positive,
11411,december gold down $1 at $749 an ounce on nymex,negative,

In [48]:
df.loc[df["Price Sentiment"] == 'negative', 'sentiment'] = 0
df.loc[df["Price Sentiment"] == 'positive', 'sentiment'] = 1

In [57]:
df['label'] = df['Price Sentiment']

In [59]:
df.drop(['Price Sentiment'], inplace=True, axis=1)

In [62]:
df = df[df.label != 'none']

In [63]:
df

                                                    News sentiment     label
0      april gold down 20 cents to settle at $1,116.1...         0  negative
1              gold suffers third straight daily decline         0  negative
2         Gold futures edge up after two-session decline         1  positive
4      Gold snaps three-day rally as Trump, lawmakers...         0  negative
5      Dec. gold climbs $9.40, or 0.7%, to settle at ...         1  positive
...                                                  ...       ...       ...
11406  February gold up $3.70, or 0.3%, at $1,134.40/oz.         1  positive
11407       gold seen falling from 3-week high this week         0  negative
11409  Gold heading for worst week since November on ...         0  negative
11410  august gold up $7.60 at $878.80 an ounce on nymex         1  positive
11411    december gold down $1 at $749 an ounce on nymex         0  negative

[9345 rows x 3 columns]

In [64]:
df.to_csv('cleaned_gold.csv', index = False)